<ion-header>
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-input placeholder="Filter" [(ngModel)]="filterInput"></ion-input>
	<ion-button (click)="filterButtonClick()">Filter list now</ion-button>

	<ng-container *ngIf="curFilterText">
		<br>
		---------------------------------------<br>
		Current filter: {{curFilterText}}<br>
		---------------------------------------<br>
	</ng-container>

	<ion-card *ngFor="let item of data" (click)="openDetails(item)">

        <ion-card-header>
            <ion-card-title>                
                {{ item.title }}                
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>                
            Always the same content<br />
            It is a bit longer and with linebreaks so that you have to scroll a bit<br />
            Without scrolling, this example makes no sense
        </ion-card-content>

    </ion-card>

</ion-content>
